#w3-e{
    background-color: rgb(119, 176, 220);
    padding: 50px;
    color: rgba(0, 0, 0, 0.862);
}
.exercisewindow{
    background-color: rgb(231, 232, 229);
    padding: 40px;
    color: rgba(0, 0, 0, 0.862);

}
div{
    display: block;
}
.exe{
    background-color: rgb(235, 173, 230);
}
button{
    background-color: rgb(73, 157, 69);
    border-radius: 50px;
}
body{
    background-color: rgb(200, 220, 190);
}